@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--background-color)
}

:root {
  --background-color: #22212C;
  --text-color: #837E9F;
  --background-cards: #302F3D;
  --background-technologies: #CB92B1
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

@media (min-width: 768px) { 
  .main {
    display: grid;
    width: 100%;
    grid-template-areas: 
      "a b"
      "c c"
  }
  .block-1 {
    grid-area: a;
    margin-right: 40px
  }
  .block-2 {
    grid-area: b;
    margin-top: -586px
  }
}

@media (min-width: 1024px) {
  .block-2 {
    margin-top: -935px
  }
}